---
layout: default
title: Rentals
permalink: /rentals/
---

<section class="wrapper style1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% include pontoon_table.html %}
        {% include sup_table.html %}
        {% include kayak_table.html %}

        <h3>
          Rental delivery prices can be found
          <a href="{{ site.baseurl }}/rental_delivery_charges">here</a>.
          There is an additional $30 fee to pressure wash pontoons
          used on lakes with
          <a href="{{ site.baseurl }}/invasive_species">aquatic invasive species</a>.
        </h3>

        <h3>Rental Details</h3>
        <ul class="default">
           <li>
             Two day minimum rental over 15 Miles* and Minimum Weekly
             Rentals over 40 Miles. Except SUP or Kayak. Some
             exclusions may apply. Please inquire.
           </li>
            <li>
              SUP / Kayak Paddles are not designed to float. $60 will
              be charged for lost paddle.
            </li>
            <li>
              $100 deposit required at the time of reservation. Or
              total for rental if under $100.
            </li>
            <li>
              Deposit is non refundable if rental is canceled less
              than a month prior to beginning of rental.
            </li>
            <li>
              Credit / Debit Card required to rent.
            </li>
            <li>
              Remaining balance of the rental must be paid prior to
              the first day.
            </li>
            <li>
              Renter is responsible for damages to pontoon or
              equipment.
            </li>
            <li>
              Cancellation of rental less than thirty days before
              reserved date forfeits the deposit.
            </li>
            <li>
              Renter must be 21 years of age or older and have a valid
              driver's license.
            </li>
            <li>
              Payments accepted via Visa, MasterCard, Discover, or
              Cash.
            </li>
            <li>
              Comes with full tank of gas and is expected to be
              returned as such.
            </li>
            <li>
              Delivery and pickup times will be set when reservation
              is made.
            </li>
            <li>
              Damages will be charged to the credit / debit card on
              file. SUP &amp; Kayak Damage beyond use $500-750 will be
              charged to replace unit.
            </li>
            <li>
              Late return fees:
              <ul class="default">
                <li>
                  5-30 minutes late will incur a $30 charge.
                </li>
                <li>
                  Beyond 30 minutes late is $1 per minute thereafter.
                </li>
              </ul>
            </li>
            <li>
              Delivery to and pickup from a public access is included
              in the rental fee unless specified on the rental
              agreement &quot;Over 20 Miles&quot;.
            </li>
            <li>
              Life jackets and throwable device are provided; please
              indicate the number and sizes needed. Sizes available
              are:
              <ul class="default">
                <li>Large</li>
                <li>Medium</li>
                <li>Small</li>
                <li>Infant</li>
              </ul>
            </li>
          </ul>

          <p>
            Pontoon Rental is Available in Brainerd, Nisswa, Pequot
            Lakes, Gull Lake, Whitefish Chain, Crosslake, Walker, Park
            Rapids, Grand Rapids, and many more areas. Give us a call
            to see if pontoon rental is available in your area.
          </p>

          <p>
            SUP &amp; Kayak rentals must be picked up and returned to:
            <address>
              Wheeler Marine<br />
              2403 State 84 NW<br />
              Longville MN 56655<br />
            </address>
          </p>
      </div>
    </div>
  </div>
</section>

<section class="wrapper style3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <i class="fa fa-5x fa-fw fa-cc-visa"></i>
        <i class="fa fa-5x fa-fw fa-cc-mastercard"></i>
        <i class="fa fa-5x fa-fw fa-cc-discover"></i>
      </div>
    </div>
  </div>
</section>
