    <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>Rentals</h3>
              <ul class="list-unstyled">
                <li><a href="{{ site.baseurl }}/pontoons">Pontoons</a></li>
                <li><a href="{{ site.baseurl }}/sup_kayaks">SUP &amp; Kayaks</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h3>About Us</h3>
              <ul class="list-unstyled">
                <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <section>
                <h3>Hours of Operation</h3>
                <dl class="row">
                  <dt class="col-sm-6">Monday:</dt>
                  <dd class="col-sm-6">8:00 AM - 5:00 PM</dd>

                  <dt class="col-sm-6">Tuesday:</dt>
                  <dd class="col-sm-6">8:00 AM - 5:00 PM</dd>

                  <dt class="col-sm-6">Wednesday:</dt>
                  <dd class="col-sm-6">8:00 AM - 5:00 PM</dd>

                  <dt class="col-sm-6">Thursday:</dt>
                  <dd class="col-sm-6">8:00 AM - 5:00 PM</dd>

                  <dt class="col-sm-6">Friday:</dt>
                  <dd class="col-sm-6">8:00 AM - 5:00 PM</dd>

                  <dt class="col-sm-6">Saturday:</dt>
                  <dd class="col-sm-6">8:00 AM - 5:00 PM</dd>

                  <dt class="col-sm-6">Sunday:</dt>
                  <dd class="col-sm-6">8:00 AM - 5:00 PM</dd>
                </dl>
              </section>
            </div>
          </div>
        </div>

        <!-- Icons -->
        <div class="container icons">
          <div class="row">
            <div class="col-sm-12 text-center">
              <a href="https://www.facebook.com/Wheeler-Marine-LLC-287807917899937/"><i class="fa fa-5x fa-facebook-square"></i><span class="sr-only">Facebook</span></a>
            </div>
          </div>
        </div>

        <!-- Copyright -->
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <ul class="list-inline">
                <li class="list-inline-item">&copy; {{ site.title }} All rights reserved</li>
                <li class="list-inline-item"> | </li>
                <li class="list-inline-item">Design: <a href="http://html5up.net">HTML5 UP</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
