---
layout: default
---

<section class="wrapper style1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">#{{ page.number }} {{ page.title }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="wrapper style2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Specifications</h2>
        <ul>
          {% for spec in page.specifications %}
            <li>{{ spec }}</li>
          {% endfor %}
          <li>{{ page.capacity }} person maximum capacity</li>
        </ul>

        <h2>Included</h2>
        <ul>
          <li>Life Preservers and Throwable</li>
          <li>Anchor and Rope</li>
          <li>Tiedowns</li>
          <li>Fire Extinguisher</li>
        </ul>
      </div>

      <div class="col-lg-6">
        <h2>Rental Pricing</h2>
        <dl class="row">
          <dt class="col-sm-5">One Day</dt>
          <dd class="col-sm-7">${{ page.prices.1-day }}</dd>

          <dt class="col-sm-5">Monday - Thursday</dt>
          <dd class="col-sm-7 ">${{ page.prices.mon-thu }}/day</dd>

          <dt class="col-sm-5">Friday - Sunday</dt>
          <dd class="col-sm-7">${{ page.prices.fri-sun }}/day</dd>

          <dt class="col-sm-5">Additional Days</dt>
          <dd class="col-sm-7">25% off daily rates</dd>
        </dl>

        {% assign image_count = page.images | size %}
        {% if image_count > 0 %}
          <section class="slider">
            <div class="flexslider">
              <ul class="slides">
                {% for image in page.images %}
                  <li>
                    <img alt="Pontoon Image" src="{{ site.baseurl }}/assets/images/pontoons/{{ page.number }}/{{ image.name }}.{{ image.format }}" class="img-fluid rounded" />
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        {% endif %}
      </div>
    </div>
  </div>
</section>
